<article class="leaderboard">
    <header>
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 511.999 511.999;" xml:space="preserve" class="leaderboard__icon">
        
      </svg>
  
      <h1 class="leaderboard__title"><span class="leaderboard__title--top">Events</span><span class="leaderboard__title--bottom">List</span></h1>
    </header>
    
    <main class="leaderboard__profiles">
      <article class="leaderboard__profile">
          <div class="row" style="justify-content: center;">
              <div class="event-name">Event Name</div>
              <div class="event-date">Start in: 2015/1/22</div>
              <div class="event-date">End in: 2015/6/22</div>
          </div>
        <div class="row" style="justify-content: center;">
            <app-progress-bar></app-progress-bar>
        </div>
      </article>
      
      <article class="leaderboard__profile">
        <img src="https://randomuser.me/api/portraits/men/97.jpg" alt="Dustin Moskovitz" class="leaderboard__picture">
        <span class="leaderboard__name">Dustin Moskovitz</span>
        <span class="leaderboard__value">9.9<span>B</span></span>
      </article>
      
      <article class="leaderboard__profile">
        <img src="https://randomuser.me/api/portraits/women/17.jpg" alt="Elizabeth Holmes" class="leaderboard__picture">
        <span class="leaderboard__name">Elizabeth Holmes</span>
        <span class="leaderboard__value">4.5<span>B</span></span>
      </article>
      
      <article class="leaderboard__profile">
        <img src="https://randomuser.me/api/portraits/men/37.jpg" alt="Evan Spiegel" class="leaderboard__picture">
        <span class="leaderboard__name">Evan Spiegel</span>
        <span class="leaderboard__value">2.1<span>B</span></span>
      </article>
    </main>
</article>