<div *ngIf="loader" class="overlay">
  <div style="margin-left: 35%;" class="waviy">
    <span style="--i:1">F</span>
    <span style="--i:2">E</span>
    <span style="--i:3">T</span>
    <span style="--i:4">C</span>
    <span style="--i:5">H</span>
    <span style="--i:6">I</span>
    <span style="--i:7">N</span>
    <span style="--i:8">G</span>&nbsp;
    <span style="--i:9">D</span>
    <span style="--i:10">A</span>
    <span style="--i:11">T</span>
    <span style="--i:12">A</span>
  </div>
</div>
<!-- Sidenav -->
<app-sidebar></app-sidebar>
<div class="main-content">
  <!-- Top navbar -->
  <app-navbar [user]="me"></app-navbar>
  <!-- Pages -->
  <router-outlet></router-outlet>
  <div class="container-fluid">
    <app-footer></app-footer>
  </div>
</div>
