<div class="card">
    <p style="text-align:left; font-size: 30px; font-weight:bold; color:black">Create New Join Request</p>
    <div class="card-content">
      <div class="row">
        <div class="column-50">
          <div class="form-group" style="margin-left: 60px">
            <label class="labelInput" for="exampleInputEmail1">Badge Name</label>
            <input type="text" [(ngModel)]="data.rule_name" class="form-control" id="exampleInputEmail1"
              aria-describedby="emailHelp" placeholder="Enter">
          </div>
          <div class="form-group" style="margin-left: 60px">
            <label class="labelInput" for="exampleInputEmail1">Points</label>
            <input type="text" [(ngModel)]="data.points" class="form-control" id="exampleInputEmail1"
              aria-describedby="emailHelp" placeholder="Enter">
          </div>
          <div class="form-group" style="margin-left: 60px">
            <label class="labelInput" for="exampleInputEmail1">ُEvents</label>
              <select [disabled]="selectedMetric == null || selectedOperation == null" (change)="getEventOperation()" [(ngModel)]="eventValue" class="form-control" id="sel1" name="sellist1">
                <option value="1">One Event</option>
                <option value="2">All Event</option>
              </select>
          </div>
        </div>
        <div class="column-50">
          <div class="form-group" style="margin-left: 60px">
            <label class="labelInput" for="exampleInputEmail1">Metric</label>
              <select (change)="onChangeGetMetric()" [(ngModel)]="selectedMetricType" class="form-control" id="sel1" name="sellist1">
                <option *ngFor="let metric of metrics" value={{metric.id}}>{{metric.name}}</option>
              </select>
          </div>
          <div *ngIf="selectedMetricsOperation && selectedMetricsOperation.operations.length > 0 " class="form-group" style="margin-left: 60px">
            <label class="labelInput" for="exampleInputEmail1">Metric Operations</label>
              <select (change)="onChangeOperation()" [(ngModel)]="selectedOperationId" class="form-control" id="sel1" name="sellist1">
                <option *ngFor="let operation of selectedMetricOperation.operations" value={{operation.id}}>{{operation.label}}</option>
              </select>
          </div>
          <div *ngIf="eventValue == 2" class="form-group" style="margin-left: 60px">
            <label class="labelInput" for="exampleInputEmail1">Event Operations</label>
              <select (change)="selectOperation()" [(ngModel)]="selectOperationID" class="form-control" id="sel1" name="sellist1">
                <option *ngFor="let operation of selectedEventOperation.operations" value={{operation.id}}>{{operation.label}}</option>
              </select>
          </div>
          <div *ngIf="selectedMetricsOperation && selectedMetricsOperation.compareOperations.length > 0 " class="form-group" style="margin-left: 60px">
            <label class="labelInput" for="exampleInputEmail1">Compare To</label>
              <select class="form-control" id="sel1" name="sellist1">
                <option *ngFor="let compareOf of selectedMetricOperationCopmare" value={{compareOf.id}}>{{compareOf.label}}</option>
              </select>
          </div>
          <div class="form-group" style="margin-left: 60px">
            <label class="labelInput" for="exampleInputEmail1">Description</label>
            <input type="email" [(ngModel)]="data.description" class="form-control" id="exampleInputEmail1"
              aria-describedby="emailHelp" placeholder="Enter">
          </div>
        </div>
      </div>
    </div>
    <div style="float: left; position: relative; top: 20px;">
      <button class="btn btn-primary" [mat-dialog-close]="data">Save</button>
      <button class="btn cancelButton" (click)="onNoClick()">Cancel</button>
    </div>
  </div>