.container {
  margin-top: 30px;
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 400px;
  &:before {
    content: "";
    background-color: #fb6340;
    position: absolute;
    top: 40%;
    left: 0;
    transform: translateY(-40%);
    height: 4px;
    width: 100%;
    z-index: -1;
  }
}
.progress-date {
  font-size: 12px;
  font-weight: bolder;
  color: #5e72e4;
}

.progress {
  background-color: #5e72e4;
  position: absolute;
  top: 40%;
  left: 0;
  transform: translateY(-40%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background: #fb6340;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line-border-empty);
  transition: .4s ease;
}

.active-circle {
    background-color: #5e72e4;
}

.btn {
  background-color: var(--line-border-fill);
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  border: 0;
  border-radius: 6px;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}