<div class="container">
  <div class="progress-container">
    <div [style.width]="progressWidth" class="progress" id="progress"> </div>
    <div (click)="initiateStateList(0)">
      <div [ngClass]="getActiveCircleClass(eventStatusList[0])">Established</div>
      <div class="progress-date">2020/12/1</div>
    </div>
    <div (click)="initiateStateList(1)">
      <div [ngClass]="getActiveCircleClass(eventStatusList[1])">Recruited</div>
      <div class="progress-date">2020/12/1</div>
    </div>
    <div (click)="initiateStateList(2)">
      <div [ngClass]="getActiveCircleClass(eventStatusList[2])">inFlow</div>
      <div class="progress-date">2020/12/1</div>
    </div>
    <div (click)="initiateStateList(3)">
      <div [ngClass]="getActiveCircleClass(eventStatusList[3])">Ended</div>
      <div class="progress-date">2020/12/1</div>
    </div>
  </div>
</div>