<div class="container">
    <!-- <div class="control-group">
      <h1>Checkboxes</h1>
      <label class="control control--checkbox">First checkbox
        <input type="checkbox" checked="checked"/>
        <div class="control__indicator"></div>
      </label>
      <label class="control control--checkbox">Second checkbox
        <input type="checkbox"/>
        <div class="control__indicator"></div>
      </label>
      <label class="control control--checkbox">Disabled
        <input type="checkbox" disabled="disabled"/>
        <div class="control__indicator"></div>
      </label>
      <label class="control control--checkbox">Disabled & checked
        <input type="checkbox" disabled="disabled" checked="checked"/>
        <div class="control__indicator"></div>
      </label>
    </div> -->
    <div class="control-group">
      <h1 style="
      color: #0B5AA2;
      font-weight: bold;
      font-size: 20px;">Event States</h1>
      <hr style="width: 20%; margin: 0px 30px; border: 1px solid #0B5AA2; background-color: #0B5AA2; margin-bottom: 30px; margin-left: 10px;">
      <label class="control control--radio">Establishing
        <input type="radio" name="radio" checked="checked"/>
        <div class="control__indicator"></div>
      </label>
      <label class="control control--radio">Recruiting
        <input type="radio" name="radio"/>
        <div class="control__indicator"></div>
      </label>
      <label class="control control--radio">InFlow
        <input type="radio" name="radio"/>
        <div class="control__indicator"></div>
      </label>
      <label class="control control--radio">Ended
        <input type="radio" name="radio"/>
        <div class="control__indicator"></div>
      </label>
      <!-- <label class="control control--radio">Disabled
        <input type="radio" name="radio2" disabled="disabled"/>
        <div class="control__indicator"></div>
      </label>
      <label class="control control--radio">Disabled & checked
        <input type="radio" name="radio2" disabled="disabled" checked="checked"/>
        <div class="control__indicator"></div>
      </label> -->
    </div>
    <!-- <div class="control-group">
      <h1>Select boxes</h1>
      <div class="select">
        <select>
          <option>First select</option>
          <option>Option</option>
          <option>Option</option>
        </select>
        <div class="select__arrow"></div>
      </div>
      <div class="select">
        <select>
          <option>Second select</option>
          <option>Option</option>
          <option>Option</option>
        </select>
        <div class="select__arrow"></div>
      </div>
      <div class="select">
        <select disabled="disabled">
          <option>Disabled</option>
          <option>Option</option>
          <option>Option</option>
        </select>
        <div class="select__arrow"></div>
      </div>
    </div> -->
  </div>