<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <h1 class="event-name-header"> {{event.name}}
        <div class="event-description">{{event.description}}</div>
      </h1>
      <!-- Card stats -->
      <div *ngIf="loader" class="loader"></div>
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Volunteers Num</h5>
                  <span class="h2 font-weight-bold mb-0">{{event.required_volunteers_number}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Category</h5>
                  <span style="font-size: 15px" *ngFor="let category of event.categories "class="h2 font-weight-bold mb-0">{{category.name}},</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Status</h5>
                  <span class="h2 font-weight-bold mb-0">In Progress</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Location</h5>
                  <span class="h2 font-weight-bold mb-0">Outdoor</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 mb-5 mb-xl-0">
        <app-carousel-image [images]="images" [autoSlides]="false" [slidesInterval]="10000"></app-carousel-image>
    </div>
    <div class="col-xl-4">
      <div class="container">
        <div class="items">
          <div class="items-head">
            <p>Metrics</p>
            <hr>
          </div>
          <div class="items-body">
            <div class="items-body-content">
              <span>Metric -1</span>
              <!--<i class="fa fa-angle-right"></i-->
            </div>
            <div class="items-body-content">
              <span>Metric -2</span>
              <!--<i class="fa fa-angle-right"></i-->
            </div>
            <div class="items-body-content">
              <span>Metric -3</span>
              <!-- <i class="fa fa-angle-right"></i> -->
            </div>
            <div class="items-body-content">
              <span>Metric -4</span>
              <!-- <i class="fa fa-angle-right"></i> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Volunteers</h3>
            </div>
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-primary">See all</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Goal</th>
                <th scope="col">Points</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  Ahmad
                </th>
                <td>
                  Master chef
                </td>
                <td>
                  340
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Fayz
                </th>
                <td>
                  chef
                </td>
                <td>
                  130
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Event Managers</h3>
            </div>
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-primary">See all</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Goal</th>
                <th scope="col">Points</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  Yazan
                </th>
                <td>
                  health care
                </td>
                <td>
                  1,480
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Hamdi
                </th>
                <td>
                  health care
                </td>
                <td>
                  1,440
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>