<div class="card">
    <p style="text-align:left; font-size: 30px; font-weight:bold; color:black">Create New Metric</p>
    <div>
      <div class="form-group" style="margin-left: auto; margin-right: 0px;">
        <label style="float:left; color: rgb(82, 82, 82)" for="exampleInputEmail1">Metric Name</label>
        <input style="text-align: left" [(ngModel)]="data.name" type="email" class="form-control"
          id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="enter role name">
      </div>
      <div class="form-group" style="margin-left: auto; margin-right: 0px;">
        <label style="float:left; color: rgb(82, 82, 82)" for="exampleInputEmail1">Metriv Type</label>
        <select [(ngModel)]="data.type" name="cars" id="cars" class="form-control">
          <optgroup label="List">
            <option value="1">number</option>
            <option value="2">string</option>
            <option value="3">boolean</option>
          </optgroup>
          <optgroup label="Variable">
            <option value="4">number</option>
            <option value="5">string</option>
            <option value="6">boolean</option>
          </optgroup>
        </select>
      </div>
      <div class="form-group">
        <label style="float:left; color: rgb(82, 82, 82);" for="inputGroupSelect01">Discription</label>
        <br>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"
              style="background-color: #F55540; color: white; font-size: 9px;">Discription</span>
          </div>
          <textarea [(ngModel)]="data.description" class="form-control" aria-label="With textarea"></textarea>
        </div>
      </div>
    </div>
    <div style="float: left; position: relative; top: 20px;">
      <button class="btn btn-primary" [mat-dialog-close]="data">save</button>
      <button class="btn cancelButton" (click)="onNoClick()">cancel</button>
    </div>
  </div>
  