<div *ngIf="loader" class="overlay">
  <div style="margin-left: 35%;" class="waviy">
    <span style="--i:1">F</span>
    <span style="--i:2">E</span>
    <span style="--i:3">T</span>
    <span style="--i:4">C</span>
    <span style="--i:5">H</span>
    <span style="--i:6">I</span>
    <span style="--i:7">N</span>
    <span style="--i:8">G</span>&nbsp;
    <span style="--i:9">D</span>
    <span style="--i:10">A</span>
    <span style="--i:11">T</span>
    <span style="--i:12">A</span>
  </div>
</div>
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <!-- <div class="scrolling-wrapper">
          <div class="row">
            <div class="row-card">
              <div *ngFor="let x of fackeList" style="margin-left: 10px;">
                <div class="card card-stats mb-4 mb-xl-0" style="margin-left: 10px;">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Traffic</h5>
                        <span class="h2 font-weight-bold mb-0">350,897</span>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                          <i class="fas fa-chart-bar"></i>
                        </div>
                      </div>
                    </div>
                    <p class="mt-3 mb-0 text-muted text-sm">
                      <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                      <span class="text-nowrap">Since last month</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row" style="justify-content: center; align-items: center;">
    <div class="tamyooz-table">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <div class="row">
                <h3 class="mb-0">Metrics</h3>
                <div style="margin-left: 8px; margin-top: 8px; font-size: 12px;">total: {{total == null ? 0 : total}}
                </div>
              </div>
            </div>
            <div class="col text-right">
              <button (click)="openDialog()" class="btn btn-sm btn-primary">New Metrics</button>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Metric name</th>
                <th scope="col">Type</th>
                <th scope="col">Created at</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let metric of metrix">
                <th (click)="updateMetric(metric)" scope="row">
                  {{metric.name}}
                </th>
                <td>
                  {{metricTypeCheck(metric.type)}}
                </td>
                <td>
                  {{metric.created_at}}
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a (click)="updateMetric(metric)" class="dropdown-item">Update metric</a>
                      <a (click)="deleteMetric(metric.id)" class="dropdown-item">Delete metric</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <div class="row">
              <div style="width: 30%;">
                <input (keyup)="changePerPage()" [(ngModel)]="per_page" style="text-align: left" type="number"
                  class="form-control" placeholder="enter per page">
              </div>
              <div style="width: 70%;">
                <ul *ngIf="metrix !== []" class="pagination justify-content-end mb-0">
                  <li (click)="nextPage(false)" class="page-item">
                    <a [ngClass]="checkPreviousClass()" class="page-link" href="javascript:void(0)" tabindex="-1">
                      <i class="fas fa-angle-left"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <!-- When first item is hidden from the list -->
                  <li [style.content-visibility]="checkFirstIndex()" class="page-item">
                    <a (click)="changeTableIndex(1)" class="page-link" href="javascript:void(0)">1<span
                        class="sr-only">(current)</span></a>
                  </li>
                  <li [style.content-visibility]="checkFirstIndex()">
                    <a href="javascript:void(0)">...<span class="sr-only">(current)</span></a>
                  </li>
                  <!-- end here -->
                  <li [style.content-visibility]="checkHidden(index + 1)" *ngFor="let page of links; let index = index"
                    [ngClass]="getClassName(index + 1)">
                    <a (click)="changeTableIndex(index + 1)" class="page-link"
                      href="javascript:void(0)">{{index + 1}}<span class="sr-only">(current)</span></a>
                  </li>
                  <li [style.content-visibility]="checkLastIndex()">
                    <a href="javascript:void(0)">...<span class="sr-only">(current)</span></a>
                  </li>
                  <li [style.content-visibility]="checkLastIndex()" class="page-item">
                    <a (click)="changeTableIndex(lastPage)" class="page-link"
                      href="javascript:void(0)">{{lastPage}}<span class="sr-only">(current)</span></a>
                  </li>
                  <li (click)="nextPage(true)" class="page-item">
                    <a [ngClass]="checkNextClass()" class="page-link" href="javascript:void(0)">
                      <i class="fas fa-angle-right"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>