<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
  integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<div class="post-background">
    <section class="Post">
        <div class="left">
          <img class="ProfilePicture"
            src="https://i-h2.pinimg.com/474x/58/01/02/5801020fea36221ffba33633f99a7d81--small-heart-tattoos-heart-tattoo-designs.jpg" />
        </div>
        <div class="right">
          <header class="Meta">
            <a href="https://twitter.com/ThePracticalDev" target="_blank">
              <strong>The Practical Dev</strong>
              <small>@ThePracticalDev</small>
            </a>
            <small>&middot;</small>
            <small>Sep 10</small>
          </header>
          <p class="Text">
            Learning React? Start Admin Small.<br>
            author: <a href="https://twitter.com/dceddia" target="_blank">@dceddia</a>
          </p>
          <a class="SocialCard"></a>
          <footer class="Buttons">
            <span class="button comments">
              <i class="fas fa-comment"></i> 2
            </span>
            <span class="button reposts">
              <i class="fas fa-retweet"></i> 47
            </span>
            <span class="button likes">
              <i class="fas fa-heart"></i> 190
            </span>
            <span class="button message">
              <i class="fas fa-envelope"></i>
            </span>
          </footer>
        </div>
      </section>
</div>