<div class="card" style="width: 1300px">
  <div class="card-content">
    <div class="row">
      <div>
        <div class="HeaderOfMetric">Variable Metrics</div>
        <div class="row">
          <div *ngFor="let metric of variableMetrics">
            <div class="variableMetric row">
              <div style="text-align: center;" class="column-90">{{metric.name}}</div>
              <div style="text-align: center;" class="column-10">51</div>
            </div>
          </div>
        </div>
      </div>
      <div style="margin-top: 30px; margin-bottom: 30px" class="divider"></div>
      <div>
        <div class="HeaderOfMetric">List Metrics</div>
        <div class="row">
          <div *ngFor="let metric of listMetrics">
            <div style="margin-left: 20px;" class="pricing-box text-center">
              <h5 style="padding-top: 10px;font-size: 18px;font-weight: bolder;">{{metric.name}}</h5>
              <p class="price">23<sub>/point</sub></p>
              <ul class="features-list">
                <li><strong>4</strong> First Day</li>
                <li><strong>8</strong> Second Day</li>
                <li><strong>6</strong> Third Day</li>
                <li><strong>5</strong> Forth Day</li>
              </ul>
              <!-- <button class="btn-primary">Get Started</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="float: left; position: relative; top: 20px;">
    <button class="btn cancelButton" (click)="onNoClick()">Okay</button>
  </div>
</div>
