<div style="background-color: white;">
    <label class="badge-label" for="">Events</label>
    <div class="list-container">
        <ul class="scale-up-hover-list">
          <li>
            <a href="#" target="_blank">
              <div class="date">
                <p class="day">23</p>
                <p class="month">aug</p>
              </div>
              <div class="item-info-container">
                <h1>فعالية الفلكي الصغير</h1>
                <p class="item-description">
                  هدف الفعالية هو زيارة المدارس الابتدائية  والقيام باعطاء حصص للطلاب عن علم الفلك  وتوزيع هداية رمزية على الاطفال المشاركين
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <div class="date">
                <p class="day">30</p>
                <p class="month">aug</p>
              </div>
              <div class="item-info-container">
                <h1>فعالية التعريف بالاختصاصات</h1>
                <p class="item-description">
                  هدف الفعالية هو تعريف طلاب المدارس  بالاختصاصات الجامعية المختلفة  عن طريق الذهاب الى المدارس وشرح الاختصاصات للطلاب
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <div class="date">
                <p class="day">7</p>
                <p class="month">sep</p>
              </div>
              <div class="item-info-container">
                <h1>فعالية التعريف في الجمعية</h1>
                <p class="item-description">
                  هدف الفعالية هو تعريف اهالي الحي  بنشاطات واهداف الجمعية  عن طريق تصميم بروشورات وتوزيعها
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <div class="date">
                <p class="day">9</p>
                <p class="month">sep</p>
              </div>
              <div class="item-info-container">
                <h1>فعالية توزيع الملابس</h1>
                <p class="item-description">
                  هدف الفعالية فرز الملابس المتبرع بها الى اقسام  ثم احصائها ووضع اولوية لتوزيعها على المحتاجين  ستمتد الفعالية اسبوع واحد بشكل يومي  ووقت التطوع ثلاث ساعات يومياً
                </p>
              </div>
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <div class="date">
                <p class="day">21</p>
                <p class="month">sep</p>
              </div>
              <div class="item-info-container">
                <h1>فعالية جمع القمامة</h1>
                <p class="item-description">
                  هدف الفعالية تصميم براشورات تعرف عن الجمعية  ثم طباعة هذه البشورات وتوزيعها في المدينة  ستمتد هذه الفعالية لمدة اسبوع واحد  ووقت التطوع ساعتان يومياً
                </p>
              </div>
            </a>
          </li>
        </ul>
      </div>
</div>