<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="scrolling-wrapper">
        <div class="row">
          <div class="row-card">
            <div *ngFor="let x of fackeList" style="margin-left: 10px;">
              <div class="card card-stats mb-4 mb-xl-0" style="margin-left: 10px;">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Traffic</h5>
                      <span class="h2 font-weight-bold mb-0">350,897</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                        <i class="fas fa-chart-bar"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                    <span class="text-nowrap">Since last month</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="tab">
  <button id="defaultOpen" class="tablinks" (click)="openCity($event, 'Users')">Users</button>
  <button class="tablinks" (click)="openCity($event, 'Admins')">Admins</button>
</div>

<div id="Users" class="tabcontent">
    <app-user-volunteers></app-user-volunteers>
</div>

<div id="Admins" class="tabcontent">
    <app-admin-volunteers></app-admin-volunteers>
</div>